CONFIG_MTK_MD1_SUPPORT=22
CONFIG_TOUCHSCREEN_MTK_TOUCH="focaltech_ft3681_spi"
# CONFIG_TOUCHSCREEN_NT36xxx_HOSTDL_SPI is not set
CONFIG_DRM_PANEL_VISIONOX_HC5622_DPHY_CMD_120HZ=m
CONFIG_INPUT_FINGERPRINT=y
CONFIG_PRIZE_FP_USE_VFP=y
CONFIG_GOODIX_GW9518_FINGERPRINT=m
CONFIG_AWINIC_HAPTIC_HV=m
CONFIG_CHARGER_UPM6722=m
CONFIG_WIRELESS_MT5706=m
CONFIG_PRIZE_REVERE_CHARGING_MODE=y
CONFIG_BATTERY_SH366100=m
CONFIG_CHARGER_THERMAL_LIMIT=y
CONFIG_CHARGER_STEP_CHARGE=y
CONFIG_ODM_CHARGER_CLASS_SUPPORT=y
CONFIG_CHARGER_FFC_CHARGE=y
# CONFIG_MTK_VIDEO_LM3643 is not set
# CONFIG_MTK_VIDEO_LM3644 is not set
# CONFIG_MTK_VIDEO_SY7806 is not set
CONFIG_MTK_VIDEO_OCP81378=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov64b40_mipi_raw gc32e1sub_mipi_raw gc08a3_mipi_raw gc02m1macro_mipi_raw"
# CONFIG_NFC_ST54_SPI is not set
CONFIG_TYPEC_AUDIO_FSA4480_SWITCH=m
CONFIG_PRIZE_HARDWARE_INFO=m
CONFIG_PRIZE_HARDWARE_LPDDR_INFO=m
CONFIG_PRI_HARDWARE_INFO_BAT=y
CONFIG_PRIZE_PIXEL_MANAGER=m
CONFIG_PRI_COMMON_NODE=m
CONFIG_REGULATOR_WL28681=m
# CONFIG_MICROTRUST_TEE_SUPPORT is not set
CONFIG_SND_SOC_AW87XXX=m
CONFIG_MTK_HAC_SUPPORT=m
