// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 */
/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt6878-pinfunc.h>

#if 0
#include <dt-bindings/pinctrl/mt6897-pinfunc.h>
#endif

/* Trustonic Mobilecore real driver */
&mobicore{
       trustonic,real-drv = <1>;
};


&chosen {
bootargs_ext = "";
};

&pdc {
	pd-vbus-upper-bound = <9000000>;
};

#if 1

&connfem {
/* Enable epa_elna node to support Wifi & BT ePA/eLNA FEM on customer load */
#if 0
	epa-elna {
		parts = <&wlan7207h &wlan7207c>;
		wifi {
			flags-0 {
				open-loop;
			};
		};
		bt {
			flags-0 {
				/* choose one of: epa-elna/epa/elna/bypass */
				epa-elna;
			};
		};
	};
#endif
};

/* GPS GPIO standardization start */
&pio {
	gps_pins_default: gps-default {
	};
	gps_l1_lna_pins_ol: gps-l1-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO186__FUNC_GPIO186>;
			output-low;
		};
	};
	gps_l1_lna_pins_dsp_ctrl: gps-l1-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO186__FUNC_GPS_L1_ELNA_EN>;
		};
	};
	gps_l1_lna_pins_oh: gps-l1-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO186__FUNC_GPIO186>;
			output-high;
		};
	};
	gps_l5_lna_pins_ol: gps-l5-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO187__FUNC_GPIO187>;
			output-low;
		};
	};
	gps_l5_lna_pins_dsp_ctrl: gps-l5-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO187__FUNC_GPS_L5_ELNA_EN>;
		};
	};
	gps_l5_lna_pins_oh: gps-l5-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO187__FUNC_GPIO187>;
			output-high;
		};
	};
};
&gps {
	pinctrl-names = "default",
		"gps_l1_lna_disable",
		"gps_l1_lna_dsp_ctrl",
		"gps_l1_lna_enable",
		"gps_l5_lna_disable",
		"gps_l5_lna_dsp_ctrl",
		"gps_l5_lna_enable";
	pinctrl-0 = <&gps_pins_default>;
	pinctrl-1 = <&gps_l1_lna_pins_ol>;
	pinctrl-2 = <&gps_l1_lna_pins_dsp_ctrl>;
	pinctrl-3 = <&gps_l1_lna_pins_oh>;
	pinctrl-4 = <&gps_l5_lna_pins_ol>;
	pinctrl-5 = <&gps_l5_lna_pins_dsp_ctrl>;
	pinctrl-6 = <&gps_l5_lna_pins_oh>;
	status = "okay";
};
/* GPS GPIO standardization end */

#endif

&i2c6 {
        spk: speaker-amp@5c {
                compatible = "richtek,rt5512";
                #address-cells = <1>;
                #size-cells = <0>;
                #sound-dai-cells = <0>;
                reg = <0x5c>;
                status = "okay";
                sound-name-prefix = "Left";
        };
};

/* AWINIC AW87565 Smart PA stereo*/
&i2c6 {
	aw87xxx_pa_0: aw87xxx_pa_0@58 {  //rcv/spk
		compatible = "awinic,aw87xxx_pa";
		reg = <0x58>;
		dev_index = <1>;
		reset-gpio = <&pio 42 0>;
		status = "okay";
	};

	aw87xxx_pa_1: aw87xxx_pa_1@5B {  //spk
		compatible = "awinic,aw87xxx_pa";
		reg = <0x5B>;
		dev_index = <0>;
		reset-gpio = <&pio 147 0>;
		status = "okay";
	};
};

//hl5280 accdet
&i2c3 {
	fsa4480_switch: fsa4480_switch@42 {
		compatible = "mediatek,hl5280-i2c";
		reg = <0x42>;
		// mic and gnd swap threshold in mV,
		// only used when FSA4480_SWITCH_BY_ACCDET_ADC set
		mic_swap_thr = <200>;
		status = "okay";
	};
};

//HAC
&pio {
    hac_default: hac_default {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO30__FUNC_GPIO30>;
            slew-rate = <1>; // 0:input, 1:output
            bias-disable;
            output-low;
        };
    };
    hac_high: hac_high {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO30__FUNC_GPIO30>;
            slew-rate = <1>;
            bias-disable;
            output-high;
        };
    };
    hac_low: hac_low {
        pins_cmd_dat {
            pinmux = <PINMUX_GPIO30__FUNC_GPIO30>;
            slew-rate = <1>;
            bias-disable;
            output-low;
        };
    };
};

&odm {
    hac: hac {
        compatible = "prize,hac-gpio";
        pinctrl-names = "default", "hac_high", "hac_low";
        pinctrl-0 = <&hac_default>;
        pinctrl-1 = <&hac_high>;
        pinctrl-2 = <&hac_low>;
        status = "okay";
    };
};

&sound {
	mediatek,spk-i2s = <25 24>;
	mediatek,speaker-codec {
		sound-dai = <&spk>;
	};
};



&mtkfb {
	pinctrl-names = "lcd_bias_enp1_gpio", "lcd_bias_enp0_gpio",
		"lcd_bias_enn1_gpio", "lcd_bias_enn0_gpio",
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te", "lcm_led_en1_gpio", "lcm_led_en0_gpio";
	pinctrl-0 = <&mtkfb_pins_lcd_bias_enp1>;
	pinctrl-1 = <&mtkfb_pins_lcd_bias_enp0>;
	pinctrl-2 = <&mtkfb_pins_lcd_bias_enn1>;
	pinctrl-3 = <&mtkfb_pins_lcd_bias_enn0>;
	pinctrl-4 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-5 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-6 = <&mtkfb_pins_lcm_dsi_te>;
	pinctrl-7 = <&mtkfb_pins_lcm_led_en1>;
	pinctrl-8 = <&mtkfb_pins_lcm_led_en0>;

	status = "okay";
};

&pio {
	mtkfb_pins_lcd_bias_enp1: lcd-bias-enp1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enp0: lcd-bias-enp0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcd_bias_enn1: lcd-bias-enn1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enn0: lcd-bias-enn0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out1_gpio: lcm-rst-out1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm-rst-out0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-low;
		};
	};
	mtkfb_pins_lcm_dsi_te: lcm-dsi-te {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO89__FUNC_DSI_TE>;
		};
	};

	mtkfb_pins_lcm_led_en1: lcm-led-en1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_led_en0: lcm-led-en0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO149__FUNC_GPIO149>;
			slew-rate = <1>;
			output-low;
		};
	};
};

&dispsys_config {
	pinctrl-names = "mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	switch-fps = <120>;
	panel1@0 {
		compatible = "visionox,hc5622,cmd";
		reg = <0>;
		reset-gpios = <&pio 90 0>;
		bias-gpios = <&pio 44 0>,
				<&pio 153 0>;
		vldo18-gpios = <&pio 10 0>;

		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};

&audio_sram {
	reg = <0 0x11059000 0 0xc000>;
	mode-size = <0xc000 0x11300>;
};

&audio_xhci_sram {
	reg = <0 0x11065000 0 0x3900>;
	mode-size = <0x3900>;
	afe-reserved;
};

&mt6363_vbuck1 {
	regulator-always-on;
};

&mt6363_vbuck2 {
	regulator-always-on;
};

&mt6363_vsram_digrf {
	regulator-always-on;
};

&mt6363_vcn15 {
	regulator-always-on;
};

//drv add fangduozhu, LRA AW86927FCR bringup, 20250425 start
&i2c9 {
	clock-frequency = <1000000>;
	status = "okay";

	haptic_hv@5A {
		compatible = "awinic,haptic_hv";
		reg = <0x5A>;
		status = "okay";
		irq-gpio = <&pio 107 0>;
		reset-gpio = <&pio 116 0>;
		pinctrl-names = "irq_active";
		pinctrl-0 = <&irq_active_default>;
		f0_pre = < 1700 >;
		mode = /bits/ 8 < 5 >;
		aw8692x_f0_cali_percent = /bits/ 8 < 7 >;
		aw8692x_gain_bypass = /bits/ 8 < 1 >;
		aw8692x_cont_drv1_lvl = /bits/ 8 < 0x7F >;
		aw8692x_cont_lra_vrms = < 1000 >; /* Motor rated voltage, mV */
		aw8692x_cont_drv1_time = /bits/ 8 < 0x04 >;
		aw8692x_cont_drv2_time = /bits/ 8 < 0x06 >;
		aw8692x_cont_track_margin = /bits/ 8 < 0x0F >;
		aw8692x_cont_brk_gain = /bits/ 8 < 0x08 >;
		aw8692x_cont_bst_brk_gain = /bits/ 8 < 0x05 >;
		aw8692x_cont_wait_num = /bits/ 8 < 0x06 >;
		aw8692x_cont_brk_time = /bits/ 8 < 0x08 >;
		aw8692x_brk_bst_md = /bits/ 8 < 0 >;
		aw8692x_cont_tset = /bits/ 8 < 0x06 >;
		aw8692x_cont_bemf_set = /bits/ 8 < 0x02 >;
		aw8692x_duration_time = /bits/ 8 < 20 30 60 >;
		aw8692x_d2s_gain = /bits/ 8 < 0x04 >;
		aw8692x_trig_config = /bits/ 8 < 0 0 0 1 0 2 0 0
						 0 0 0 1 0 2 0 0
						 0 0 0 1 0 2 0 0 >;
		aw8692x_bst_vol_default = < 9000 >;
		aw8692x_is_enabled_track_en;
		/* aw8692x_is_enabled_auto_bst; */
		/* aw8692x_is_enabled_one_wire; */
	};
};

&pio {
	irq_active_default: irq_active_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO107__FUNC_GPIO107>;
			input-enable;
			bias-pull-up = <00>;
		};
	};
};
//drv add fangduozhu, LRA AW86927FCR bringup, 20250425 end
/*add by driver for nfc bringup start*/
&i2c3 {
    clock-frequency = <400000>;
	st21nfc: st21nfc@08 {
		compatible = "st,st21nfc";
		reg = <0x08>;
		interrupt-parent = <&pio>;
		interrupts = <2 0>;
		reset-gpios = <&pio 154 0x00>;
		irq-gpios = <&pio 2 0x00>;
		clkreq-gpios = <&pio 151 0x00>;
		status = "ok";
	};
};
/*add by driver for nfc bringup end*/
//pri add for goodix fingerprint
&spi1{
	#address-cells = <1>;
	#size-cells = <0>;
	goodix: gffingerprint@spi1 {
		compatible = "goodix,goodix-fp";
		reg = <0>;
		spi-max-frequency = <26000000>;
		status = "okay";
	};
};
&goodix_fp {
	interrupt-parent = <&pio>;
	interrupts = <13 IRQ_TYPE_EDGE_RISING 13 0>;
	VFP-supply = <&mt6369_vfp>;
	//fpid-gpio = <&pio 12 0>;
	goodix-fp,use-dts-chip-info;
	goodix-fp,chip-name = "GW9598";
	goodix-fp,chip-id = /bits/ 16 <0x1261>;
	pinctrl-names = "default","fingerprint_irq", "fp_reset_high", "fp_reset_low", "miso_spi",
					"miso_pullhigh", "miso_pulllow", "fpc_mosi_pull_up", "fpc_mosi_pull_down";
	pinctrl-0 = <&fpc_pins_default>;
	pinctrl-1 = <&fpc_pins_eint_as_int>;
	pinctrl-2 = <&fpc_pins_rst_high>;
	pinctrl-3 = <&fpc_pins_rst_low>;
	pinctrl-4 = <&fpc_mode_as_cs &fpc_mode_as_ck &fpc_mode_as_mi &fpc_mode_as_mo>;
	pinctrl-5 = <&fpc_miso_pull_up>;
	pinctrl-6 = <&fpc_miso_pull_down>;
	pinctrl-7 = <&fpc_mosi_pull_up>;
	pinctrl-8 = <&fpc_mosi_pull_down>;
	status = "okay";
};
&pio {
	fpc_pins_default: fpcdefault {
	};
	fpc_pins_eint_as_int: fpceint@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO13__FUNC_GPIO13>;
			slew-rate = <0>;
			bias-disable;
		};
	};
	fpc_pins_rst_high: fpcrsthigh {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO155__FUNC_GPIO155>;
			slew-rate = <1>;
			output-high;
		};
	};
	fpc_pins_rst_low: fpcrstlow {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO155__FUNC_GPIO155>;
			slew-rate = <1>;
			output-low;
		};
	};
	fpc_mode_as_cs: fpccs {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO61__FUNC_SPI1_CSB>;
			bias-pull-up = <00>;
		};
	};
	fpc_mode_as_ck: fpcck {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO60__FUNC_SPI1_CLK>;
			bias-pull-up = <00>;
		};
	};
	fpc_mode_as_mi: fpcmi {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO63__FUNC_SPI1_MI>;
			bias-pull-up = <00>;
		};
	};
	fpc_mode_as_mo: fpcmo {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO62__FUNC_SPI1_MO>;
			bias-pull-down = <00>;
		};
	};
	fpc_miso_pull_up: fpcmisoup {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO63__FUNC_GPIO63>;
			slew-rate = <1>;
			output-high;
		};
	};
	fpc_miso_pull_down: fpcmisolow {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO63__FUNC_GPIO63>;
			slew-rate = <1>;
			output-low;
		};
	};
	fpc_mosi_pull_up: fpcmosiup {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO62__FUNC_GPIO62>;
			slew-rate = <1>;
			output-high;
		};
	};
	fpc_mosi_pull_down: fpcmosilow {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO62__FUNC_GPIO62>;
			slew-rate = <1>;
			output-low;
		};
	};
};
/* pri fingerprint add by cjd  end */

#include <k6878v1_64/cust.dtsi>
#include "mediatek/cust_mt6878_touch_1080x2400.dtsi"
#include "mediatek/cust_mt6878_camera_v4l2.dtsi"
#include "mediatek/upm6722.dtsi"
#include "mediatek/cust_charger.dtsi"
#include "mediatek/cust_k6878_connfem.dtsi"
/* prize add by chenwenhui for camera ldo wl28681 start */
#include "mediatek/wl28681.dtsi"
/* prize add by chenwenhui for camera ldo wl28681 end */
/*End of this file, DO NOT ADD ANYTHING HERE*/
